@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #ffffff;
  background-color: dark;
}
.btn-class {
  float: right;
  color: #ffffff;
  margin-top: -50px;
  margin-right: 40px;
  text-transform: capitalize;
  background-color: #ffffff23;
  padding: 5px;
  width: 5%;
}

@media only screen and (max-width: 500px) {
  .btn-class {
    margin-top: -55px;
    margin-right: 10px;
    width: 20%;
  } 
}